^{:css-dirs ["resources/public"]}
{:main cljs.user
 :output-to  "target/public/repl.js"
 :output-dir "target/public"
 :asset-path ""
 :fn-invoke-direct true
 :anon-fn-naming-policy :mapped
 :parallel-build true
 :language-in :es6-strict
 :language-out :es6-strict
 :infer-externs true
 :install-deps true
 ;; TODO none of this is currently used
 ;; - last time, glm drove too much the design of math code,
 ;;   - thousands of small Float32Arrays, even on top of a single ArrayBuffer, dont scale
 ;;   - can do better math lib now
 :externs ["externs/html.js"]
 :foreign-libs [{:file "target/public/npm-deps.js"
                 :provides ["npm.gl-matrix"
                            "npm.stats.js"]
                 :global-exports {npm.gl-matrix glMatrix
                                  npm.stats.js  Stats}}]}
