^{:css-dirs ["resources/public"]}
{:main                  cljs.user
 :output-to             "target/public/repl.js"
 :output-dir            "target/public"
 :asset-path            ""
 :fn-invoke-direct      true
 :anon-fn-naming-policy :mapped
 :parallel-build        true
 :language-in           :es6-strict
 :language-out          :es6-strict
 :infer-externs         true
 :install-deps          true
 :externs
 ["externs/html.js"]}
