@import "reset.css";


/* Variables */
/******************************************************************************/


/* Application Window */
/******************************************************************************/

html, body, main, #frame {
  display: flex;
  flex: 1;
}
html {
  height: 100%;
}
body {
  font-size: 1rem;
  line-height: 1;
  background: #042069;
  color: #DEDEDE;
  overflow: hidden;
}
#frame {
  flex-direction: column;
}


/* Application Bootstrap */
/******************************************************************************/

/*main.boot {
  align-items: center;
  justify-content: center;
  font-size: 24rem;
}*/

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/* Menu View */
/******************************************************************************/

#menu {
}


/* Tool View */
/******************************************************************************/

#tool {
}


/* Mini View */
/******************************************************************************/

#mini {
}


/* Dock View */
/******************************************************************************/

#dock {
  display: grid;
  flex: 1;
}


/* Pane View */
/******************************************************************************/

.pane {
  flex: 1;
}


/* Mode View */
/******************************************************************************/

.mode {
}


/* Game View */
/******************************************************************************/

.game {
}
